html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

#sticks {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.controls {
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 70px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.active {
  background: #ffffff99;
}

.jump {
  position: absolute;
  bottom: 30%;
  pointer-events: auto;
  cursor: pointer;
  right: 10%;
  z-index: 1000;
}
